body {
    font-family: 'Courier New', Courier, monospace;
    background-image: url('milktea.jpg'); 
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.menu {
    background-color: #f4d2b0;
    padding: 30px;
    width: 500px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}
.menu h1 {
    font-size: 26px;
    font-weight: bold;
    margin: 0;
    color: #2e2e2e;
}
.menu p {
    margin: 5px 0;
    font-weight: bold;
    color: #4e4e4e;
}
.menu h2 {
    font-size: 30px;
    color: #4e2b1f;
    margin-top: 15px;
}
.menu hr {
    border: 1px solid #a0522d;
    margin: 20px 0;
}
.menu a {
    color: #d2691e;
    text-decoration: none;
    font-weight: bold;
}
.menu a:hover {
    color: #b22222;
    text-decoration: underline;
}